{% extends 'score/base.html' %}

{% block content %}
{% if lst %}
    <div class="card text-center w-25">
        <div class="card-header">
            Subjects
        </div>
        <div class="card-body">
            <ul class="list-group">
            {% for subject in lst %}
                <li class="list-group-item list-group-item-dark">
                    <a class="btn btn-outline-info" href="{% url 'score:subject' subject.id %}">{{ subject }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="card-footer">
            <a href="{{ add_url }}" class="btn btn-outline-success">Add new Subject</a>
        </div>
    </div>

{% else %}
    <p>No Subjects are available</p>
{% endif %}


{% endblock %}