{% extends 'score/base.html' %}

{% block content %}

    <div class="card text-center w-25">
        <div class="card-header">
            {{ class_name | title }}
        </div>
        {% if lst %}
            <div class="card-body">
                <ul class="list-group">
                {% for item in lst %}
                    <li class="list-group-item list-group-item-dark">
                        <a class="btn btn-outline-info"
                                {% if class_name == 'subject' %}
                                    href="{% url 'score:subject' item.id %}"
                                {% else %}
                                    href="{% url 'score:field' item.id %}"
                                {% endif %}>
                            {{ item | title }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="card-footer">
            <a href="{{ add_url }}" class="btn btn-outline-success">Add New</a>
        </div>
    </div>




{% endblock %}