{% extends 'score/base.html' %}
{% load bootstrap5 %}

{% block title %}
    Form
{% endblock %}

{% block content %}
{% if error_message %}
    <p>
        <strong>
            {{ error_message }}
        </strong>
    </p>
{% endif %}
    <div class="card">
        <div class="card-footer text-center">
            {{ form_name }}
        </div>
        <div class="card-body">
            <form action="{% url 'score:new_subject' %}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Add</button>
                {% endbuttons %}
            </form>
        </div>
    </div>



{% endblock %}